/* About us */
.home a {
    text-decoration: none;
    color: #666666;
    transition: 0.5s all;
}

.home a:hover {
    color: #D58E32;
    outline: none;
    transition: 0.5s all;
    cursor: pointer;
    text-decoration: none;
}

.reg-button {
    margin-top: 10px;
    margin-left: 26px;
    height: 40px;
    font-family: "Mont Bold"!important;
}

.title-input {
    font-size: 10pt;
    font-family: Mont;
    position: relative;
    left: 2px;
    top: 10px;
    margin-top: 10px;
    color:#3A3D45;
}

/* Checkbox */

.checkbox {
    position: relative;
}

.checkbox-input {
    appearance: none;
    -webkit-appearance: none;
}

.checkbox-label {
    font-size: 10pt;
    font-family: Mont;
    padding-left: 32px;
    padding-top: 20px;
    color:#3A3D45;
}

.checkbox-label a {
    font-size: 10pt;
    font-family: Mont;
    color:#D58E32;
}

.checkbox-label a:hover {
    color:#D58E32;
}

.checkbox-label:before {
    width: 15px;
    height: 15px;
    display: block;
    content: "";
    border: 1px solid #ccc;
    position: absolute;
    top: 20px;
    left: 12px;
    z-index: 1;
}

.checkbox-label:after {
    width: 15px;
    height: 15px;
    display: block;
    content: "";
    background: url("images/check-mark/check.png") no-repeat;
    background-size: 15px 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    top: 20px;
    left: 12px;
    opacity: 0;
}

.checkbox-input:checked + .checkbox-label:after {
    opacity: 1;
}

.auth-field-reg {
    width: 230px!important;
	height: 45px!important;
	margin-top: 10px;
    margin-left: 2px;
	border-radius: 0px!important;
	border: 1px solid #D9DDE1!important;
	background-color: #ffffff!important;
}